@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Permanent+Marker&display=swap');

html, body, h1, ul, li, input, button {
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
    list-style-type: none;
    border: none;
}

body{
    height: 100vh;
    background-color: hsl(230, 65%, 60%);
    color: hsl(0, 5%, 20%)

}

h1 {
    font-size: calc(32px + 2vw);
    text-align: center;
}

li {
    font-family: 'Kalam', cursive;
    font-size: calc(16px + 2vw);
    transition: all 0.1s ease-in-out;

}

li:hover {
    transform: scale(1.05);
}

li:active {
    transform: scale(0.95)
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.list {
    border-radius: 8vh;
    padding: 2vw;
    background-color: hsl(0, 20%, 95%);
    width: 80vw;
    height: 80vh;
    align-items: center;
}

.insert {
    color: hsl(0, 0%, 75%);
    background: none;
    font-family: 'Permanent Marker', cursive;
    border: none;
    resize: none;
    outline: none;
    font-size: calc(12px + 2vw)
}

.plus {
    background: none;
    font-size: calc(32px + 2vw);
    font-weight: 900;
}

.plus:hover {
    transform: scale(1.1);
    color: hsl(120, 65%, 60%);
}

.plus:active {
    transform: scale(1);
}

.completed {
    text-decoration-line: line-through;
}

.completed:hover {
    color: brown;
}

.transition {
    transition: all 0.1s ease-out;
    
}